* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
    // font-size: calc(100vw / 3.6);
    user-select: none;
    cursor: default;
}

::-webkit-scrollbar {
    display: none;
}

#app {
    @include full;
    // font-size: .25rem;
    background: #f8f9fb;
    .container {
        @include full;
    }
}